/.vscode
/.idea
.DS_Store
/build
/saved_builds
/.vs
_codeql_detected_source_root
*.sln
*.vcxproj*
/balatro-gba/x64/**
/tests/bitset/build
/tests/list/build
/tests/pool/build
/tests/*/build
doc
tests/util/.vscode
tests/util/build
audio/*.bak
